extends ../layout

block content

    div(class="row")

     div(class="user-item col-lg-12 col-md-12 col-sm-12")
        span Projects Created:
        p=lenCreated
     div(class="user-item col-lg-12 col-md-12 col-sm-12")
        span Projects Signed Up:
        p=lenSigned
    div(class="user-item col-lg-12 col-md-12 col-sm-12")
        span Projects Declined:
        p=declined
        
        div(class="user-item col-lg-12 col-md-12 col-sm-12")
            p=name
        div(class="uer-item col-lg-12 col-md-12 col-sm-12")
            p=description
        div(class="user-item col-lg-12 col-md-12 col-sm-12")
            p=specialty
        div(class="user-item col-lg-12 col-md-12 col-sm-12")
            p=website

    